{% extends 'base.html.twig' %}
{% block main %}

<p>Date du jour : {{ "now"|date('d/m/Y') }}</p>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/Places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        </tbody>
    </table>
    <a href="{{ path('create') }}"> <button type="submit" class="btn btn-primary"> Créer une sortie</button></a>

{% endblock %}